@model IEnumerable<VehicleModel>

<div class="container-lg">
     <div class="table-responsive">
          <div class="table-wrapper">
               <div class="table-title">
                    <div class="row">
                         <div class="col-sm-8">
                              <h2>Vehicle <b>Details</b></h2>
                         </div>
                         <div class="col-sm-4">
                              <a href="@Url.Action("Create", "Vehicle")" class="btn btn-info add-new">
                                   <i class="fa fa-plus"></i> Add New
                              </a>
                         </div>
                    </div>
               </div>
               <table class="table table-bordered">
                    <thead>
                         <tr>
                              <th>Name</th>
                              <th>Seats</th>
                              <th>Actions</th>
                         </tr>
                    </thead>
                    <tbody>
                         @foreach (var Vehicle in Model)
                         {
                              <tr>
                                   <td>@Vehicle.VehicleName</td>
                                   <td>@Vehicle.SeatNumber</td>

                                   <td>
                                        <div class="d-flex align-items-center">
                                             <form method="get" action="@Url.Action("Update", "Vehicle")" style="display: inline;">
                                                  <input type="hidden" name="VehicleId" value="@Vehicle.VehicleId">
                                                  <button class="update" title="EditVehicle" data-toggle="tooltip">Update
                                                  </button>
                                             </form>
                                             <form method="post" action="@Url.Action("Delete", "Vehicle")" style="display: inline;">
                                                  <input type="hidden" name="VehicleId" value="@Vehicle.VehicleId">
                                                  <button class="delete" type="submit" title="Delete" data-toggle="tooltip">Delete
                                                  </button>
                                             </form>
                                        </div>
                                   </td>
                              </tr>
                         }
                    </tbody>
               </table>
          </div>
     </div>
</div>
