@model IEnumerable<UserRoleModel>
<div class="table-wrapper">
     <div class="table-title">
          <div class="row">
               <div class="col-sm-8">
                    <h2>Users <b>Details</b></h2>
               </div>
               <div class="col-sm-4">
                    <form method="get" action="@Url.Action("AddRole","User")">
                         @Html.AntiForgeryToken()
                         <button type="submit" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New Role</button>
                    </form>
               </div>
          </div>
     </div>
     <table class="table table-bordered">
          <thead>
          <tr>
               <th>Name</th>
               <th>Role</th>
               <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          @foreach (var userRole in Model)
          {
               <tr>
                    <td>@userRole.UserName</td>
                    <td>@userRole.RoleName</td>
                    <td>
                         @if (userRole.RoleName != null)
                         {
                              <form method="post" action="@Url.Action("DeleteRole","User")" style="display: inline;">
                                   <input type="hidden" class="form-control" id="RoleName" name="RoleName" value="@userRole.RoleName">
                                   <input type="hidden" class="form-control" id="UserName" name="UserName" value="@userRole.UserName">
                                   @Html.AntiForgeryToken()
                                   <button class="delete" type="submit" title="Delete" data-toggle="tooltip">Delete
                                   </button>
                              </form>
                         }
                    </td>
               </tr>
          }
          </tbody>
     </table>
</div>