@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CarBookingApp.ViewModels
@model VehicleViewModel

<form method="post" action="@Url.Action("EditVehicle", "Admin")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="VehicleName">Vehicle Name</label>
          <input type="hidden" class="form-control" id="VehicleId" name="VehicleId" value="@Model.VehicleId">
          <span class="text-danger">@Html.ValidationMessageFor(model => model.VehicleName)</span>

          <input type="text" class="form-control" id="VehicleName" name="VehicleName" value="@Model.VehicleName">
          <label for="SeatsNumber">Number of Seats</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.SeatsNumber)</span>

          <input type="text" class="form-control" id="SeatsNumber" name="SeatsNumber" value="@Model.SeatsNumber">
     </div>

     <button type="submit" class="btn btn-primary">Update</button>
</form>