@{
     Layout = "~/Features/Shared/_Layout.cshtml";
}
@model CarBookingApp.Features.Drives.ViewModel.DriveViewModel

<form method="post" action="@Url.Action("Edit","Drives")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="DriveName">Drive Name</label>
          <input type="hidden" class="form-control" id="DriveId" name="DriveId" value="@Model.DriveId">
          <span class="text-danger">@Html.ValidationMessageFor(model => model.DriveName)</span>

          <input type="text" class="form-control" id="DriveName" name="DriveName" value="@Model.DriveName">
     </div>

     <button type="submit" class="btn btn-primary">Update</button>
</form>
