@model IEnumerable<StatusModel>

<div class="container-lg">
     <div class="table-responsive">
          <div class="table-wrapper">
               <div class="table-title">
                    <div class="row">
                         <div class="col-sm-8">
                              <h2>Status <b>Details</b></h2>
                         </div>
                         <div class="col-sm-4">
                              <a href="@Url.Action("Create", "Status")" class="btn btn-info add-new">
                                   <i class="fa fa-plus"></i> Add New
                              </a>
                         </div>
                    </div>
               </div>
               <table class="table table-bordered">
                    <thead>
                         <tr>
                              <th>Name</th>
                              <th>Actions</th>
                         </tr>
                    </thead>
                    <tbody>
                         @foreach (var status in Model)
                         {
                              <tr>
                                   <td>@status.StatusName</td>
                                   <td>
                                        <div class="d-flex align-items-center">
                                             <form method="get" action="@Url.Action("Update", "Status", new { id = status.StatusId })" style="display: inline;">
                                                  @Html.AntiForgeryToken()
                                                  <button class="update" title="EditStatus" data-toggle="tooltip">Update
                                                  </button>
                                             </form>
                                             <form method="post" action="@Url.Action("Delete", "Status", new { id = status.StatusId })" style="display: inline;">
                                                  @Html.AntiForgeryToken()
                                                  <button class="delete" type="submit" title="Delete" data-toggle="tooltip">Delete
                                                  </button>
                                             </form>
                                        </div>
                                   </td>
                              </tr>
                         }
                    </tbody>
               </table>
          </div>
     </div>
</div>
