@using Microsoft.IdentityModel.Tokens
@model Tuple<UpdateStatusResponse,StatusModel>


@if ( Model.Item1 != null && Model.Item1.Success == true)
{
     <div class="alert alert-success">
          The Status was updated successfully
     </div>

}

@if (Model.Item1 != null && !Model.Item1.BaseMessage.IsNullOrEmpty())
{
     <h3>@Model.Item1.BaseMessage</h3>

     @if (Model.Item1.ValidationErrors != null && Model.Item1.ValidationErrors.Any())
     {
          @foreach (var e in Model.Item1.ValidationErrors)
          {
               <p class="text-danger m-0 my-1">@e</p>
          }
     }
}


<form method="post" action="@Url.Action("Update","Status")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="StatusName">Status Name</label>
          <input type="hidden" class="form-control" id="StatusId" name="StatusId" value="@Model.Item2.StatusId">
          <input type="text" class="form-control" id="StatusName" name="StatusName" value="@Model.Item2.StatusName">
     </div>

     <button type="submit" class="btn btn-primary">Update</button>
</form>