@using CarBookingApp.ViewModels

@model List<CarBookingApp.ViewModels.UserRoleViewModel>

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Users <b>Details</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("AddRole")" class="btn btn-info add-new">
                            <i class="fa fa-plus"></i> Add New
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                         @foreach (var userRole in Model)
                         {
                                  <tr>
                                      <td>@userRole.UserName</td>
                                      <td>@userRole.RoleName</td>
                                      <td>
                                          <div class="d-flex align-items-center">
                                              @if (userRole.RoleName != null)
                                              {
                                                   <form method="post" action="@Url.Action("DeleteRole")" style="display: inline;">
                                                        <input type="hidden" class="form-control" id="RoleName" name="RoleName" value="@userRole.RoleName">
                                                        <input type="hidden" class="form-control" id="UserName" name="UserName" value="@userRole.UserName">

                                                        @Html.AntiForgeryToken()
                                                        <button class="btn btn-delete" type="submit" title="Delete" data-toggle="tooltip">
                                                             <i class="material-icons">&#xE872;</i>
                                                        </button>
                                                   </form>
                                              }
                                          </div>
                                      </td>
                                  </tr>
                         }
                </tbody>
            </table>
        </div>
    </div>
</div>
