@using Microsoft.IdentityModel.Tokens
@model Tuple<UpdateRoleResponse,RoleModel>


@if ( Model.Item1 != null && Model.Item1.Success == true)
{
     <div class="alert alert-success">
          The Role was updated successfully
     </div>

}

@if (Model.Item1 != null && !Model.Item1.BaseMessage.IsNullOrEmpty())
{
     <h3>@Model.Item1.BaseMessage</h3>

     @if (Model.Item1.ValidationErrors != null && Model.Item1.ValidationErrors.Any())
     {
          @foreach (var e in Model.Item1.ValidationErrors)
          {
               <p class="text-danger m-0 my-1">@e</p>
          }
     }
}


<form method="post" action="@Url.Action("Update","Role")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="Name">Role Name</label>
          <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Item2.Id">
          <input type="text" class="form-control" id="Name" name="Name" value="@Model.Item2.Name">
     </div>

     <button type="submit" class="btn btn-primary">Update</button>
</form>