@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Booking.Application.Features.Order.OrderModel>
<section id="blog" class="blog">
          <div class="container" data-aos="fade-up">

                    <div class="content">

                    <div class="col-lg-8 entries">
                         @if(Model.IsNullOrEmpty())
                         {
                              <section id="testimonials" class="testimonials">
                                   <div class="section-title">
                                        <h2>There are no Cars</h2>
                                   </div>
                              </section>

                         }
                         else
                         {

                         @foreach (var order in Model)
                         {
                              <article class="entry">
                                   <div class="content__catalogue-item-primary-wrap">
                                        <div class="content__catalogue-item-header">
                                             <h5 class="catalogue-item-header__title">
                                                  @order.Car.ModelName
                                             </h5>
                                             <svg class="content__catalogue-item-like" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M16.44 3.09961C14.63 3.09961 13.01 3.97961 12 5.32961C10.99 3.97961 9.37 3.09961 7.56 3.09961C4.49 3.09961 2 5.59961 2 8.68961C2 9.87961 2.19 10.9796 2.52 11.9996C4.1 16.9996 8.97 19.9896 11.38 20.8096C11.72 20.9296 12.28 20.9296 12.62 20.8096C15.03 19.9896 19.9 16.9996 21.48 11.9996C21.81 10.9796 22 9.87961 22 8.68961C22 5.59961 19.51 3.09961 16.44 3.09961Z" fill="#ED3F3F" />
                                             </svg>
                                        </div>
                                        @if (order.Car.Image != null && order.Car.Image.Length > 0)
                                        {
                                             var imageBase64 = Convert.ToBase64String(order.Car.Image);
                                             var imageSrc = string.Format("data:image;base64,{0}", imageBase64);

                                             <img src="@imageSrc" alt="Car Image" style="width: 400px; height: 135px;" />
                                        }
                                        else
                                        {
                                             <p>No image available</p>
                                        }

                                   </div>
                                   <div class="content__catalogue-item-secondary-wrap">
                                        <div class="content__catalogue-item-specification-wrap">
                                             <div class="catalogue-item-specification__element-wrap">
                                                  <p class="fs-5">From: <span class="fw-bold">@order.RentalStartDate</span></p>
                                                  <p class="fs-5">To: <span class="fw-bold">@order.RentalEndDate</span></p>
                                             </div>
                                        </div>
                                        <div class="content__price-button-wrap">
                                             <div class="content__price__wrap">
                                                  <span class="content__price">
                                                       $ @order.TotalAmount
                                                  </span>

                                             </div>
                                             @if (@order.Status.StatusName == "Processing")
                                             {
                                                  <div class="alert alert-info" role="alert">
                                                       <strong>Processing</strong>
                                                  </div>
                                                  <form method="post" action="@Url.Action("Cancel","Order", new { id = @order.OrderId })">
                                                       @Html.AntiForgeryToken()
                                                       <button class="btn btn-danger" type="submit">Cancel</button>
                                                  </form>
                                             }
                                             else if (@order.Status.StatusName == "Confirmed")
                                             {
                                                  <div class="alert alert-success" role="alert">
                                                       <strong>Confirmed</strong>
                                                  </div>
                                             }
                                             else if (@order.Status.StatusName == "In Execution")
                                             {
                                                  <div class="alert alert-warning" role="alert">
                                                       <strong>In Execution</strong>
                                                  </div>
                                             }
                                             else if (@order.Status.StatusName == "Finished")
                                             {
                                                  <div class="alert alert-success" role="alert">
                                                       <strong>Finished</strong>
                                                  </div>
                                             }
                                             else if (@order.Status.StatusName == "Cancelled")
                                             {
                                                  <div class="alert alert-danger" role="alert">
                                                       <strong>Cancelled</strong>
                                                  </div>
                                             }
                                        </div>
                                   </div>
                              </article>
                              <!-- End blog entry -->
                         }
                         }
                    </div>
               </div>

          </div>
     </section>
